configuration {
modi: "combi,drun,run,window,ssh";
columns: 1;
show-icons: true;
/* theme: "/home/eddie/.config/rofi/themes/nord2.rasi"; */
cycle: true;
matching: "fuzzy";
hide-scrollbar: true;
font: "Hack Nerd Font Mono 12";
display-drun: "Search";
}
