
config/vifm/vifminfo.json
config/nvim-eddie/lazy-lock.json
config/nvim-eddie/lazy-lock.json
config/nvim-kickmini/lazy-lock.json
config/nvim-kickmini/lazy-lock.json
config/minivim/lazy-lock.json
config/nvim-mini/lazy-lock.json
config/minivim_v1/lazy-lock.json
