Xft.dpi: 96
*.antialias: true
*.hinting: true
!st.font: xft:Iosevka Nerd Font:size=11:regular

!! Transparency (0-1):
*.alpha: 0.9


! Dracula Xresources palette
!*.foreground: #F8F8F2
!*.background: #282A36
!#define bg     #282A36
!#define base00 #000000
!#define base01 #FF5555
!#define base02 #50FA7B
!#define base03 #F1FA8C
!#define base04 #BD93F9
!#define base05 #FF79C6
!#define base06 #8BE9FD
!#define base07 #BFBFBF

!#define base08 #4D4D4D
!#define base09 #FF6E67
!#define base10 #5AF78E
!#define base11 #F4F99D
!#define base12 #CAA9FA
!#define base13 #FF92D0
!#define base14 #9AEDFE
!#define base15 #E6E6E6

!! Everforest
!*.foreground: #D3C6AA
!*.background: #2F383E
!*.cursorColor: #FFFFFF
!#define bg #2F383E
! black
!#define base00 #374247
!#define base08 #859289
! red
!#define base01 #E67E80
!#define base09 #E67E80
! green
!#define base02 #A7C080
!#define base10 #A7C080
! yellow
!#define base03 #DBBC7F
!#define base11 #DBBC7F
! blue
!#define base04 #7FBBB3
!#define base12 #7FBBB3
! magenta/purple
!#define base05 #D699B6
!#define base13 #D699B6
! cyan
!#define base06 #83C092
!#define base14 #83C092
! white
!#define base07 #D3C6AA
!#define base15 #D3C6AA

!Gruvbox
!#define base00 #282828
!#define base01 #CC241D
!#define base02 #98971A
!#define base03 #D79921
!#define base04 #458588
!#define base05 #B16286
!#define base06 #689D6a
!#define base07 #A89984

!#define base08 #928374
!#define base09 #FB4934
!#define base10 #B8BB26
!#define base11 #FABD2F
!#define base12 #83A598
!#define base13 #D3869B
!#define base14 #8EC07C
!#define base15 #EBDBB2

!#define base16 #FFFFFF
!#define base17 #FF00FF
!#define base18 #00FF00

!#define bg1 #3C3826
!#define bg2 #504945
!#define bg3 #665C54
!#define bg4 #7C6F64

!DoomOne:
!*.background: #282c34
!*.foreground: #bbc2cf
!*.cursorColor: #528bff
!*.highlightColor: #3e4451
!#define base00 #1c1f24
!#define base01 #ff6c6b
!#define base02 #98be65
!#define base03 #da8548
!#define base04 #51afef
!#define base05 #c678dd
!#define base06 #5699af
!#define base07 #202328
!#define base08 #5b6268
!#define base09 #da8548
!#define base10 #4db5bd
!#define base11 #ecbe7b
!#define base12 #3071db
! This is 2257a0 in Doom Emacs but I lightened it.
!#define base13 #a9a1e1
!#define base14 #46d9ff
!#define base15 #dfdfdf

! TokyoNight colors for Xresources

*.background: #222436
*.foreground: #c8d3f5

#define base00 #1b1d2b
#define base01 #ff757f
#define base02 #c3e88d
#define base03 #ffc777
#define base04 #82aaff
#define base05 #c099ff
#define base06 #86e1fc
#define base07 #828bb8

#define base08 #444a73
#define base09 #ff757f
#define base10 #c3e88d
#define base11 #ffc777
#define base12 #82aaff
#define base13 #c099ff
#define base14 #86e1fc
#define base15 #c8d3f5

!OneDark
!*.foreground:    #ABB2BF
!*.background:    #1E2127
!*.cursorColor:   #5C6370
!*.highlightColor:#3A3F4B

!#define base00 #1E2127
!#define base01 #BE5046
!#define base02 #98C379
!#define base03 #D19A66
!#define base04 #61AFEF
!#define base05 #8A3FA0
!#define base06 #2B6F77
!#define base07 #ABB2BF
!#define base08 #5C6370
!#define base09 #E06C75
!#define base10 #BAE59B
!#define base11 #E5C07B
!#define base12 #83CFFF
!#define base13 #C678DD
!#define base14 #56B6C2
!#define base15 #FFFFFF

#define bg1 #282C34
#define bg2 #31353F
#define bg3 #393F4A
#define bg4 #3B3F4C

! special
URxvt.background: [85]#1E2127
!URxvt.foreground: base15

URxvt.color0: base00
URxvt.color1: base01
URxvt.color2: base02
URxvt.color3: base03
URxvt.color4: base04
URxvt.color5: base05
URxvt.color6: base06
URxvt.color7: base07

URxvt.color8: base08
URxvt.color9: base09
URxvt.color10: base10
URxvt.color11: base11
URxvt.color12: base12
URxvt.color13: base13
URxvt.color14: base14
URxvt.color15: base15
!URxvt.cursorColor: #5C6370


URxvt*imLocale: de_DE.UTF-8
URxvt*buffered: false
URxvt.intensityStyles: false
!URxvt.cursorColor: white

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard,tabbedex
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.step:   1
URxvt.keysym.C-S-Prior: resize-font:bigger
URxvt.keysym.C-S-Next:  resize-font:smaller
URxvt.keysym.C-S-Home:  resize-font:reset

!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste


!! URxvt Appearance
URxvt*font: xft:MesloLGS NF:style=Regular:size=11:antialias=true
URxvt*boldFont: xft:MesloLGS NF:style=bold:size=11:antialias=true
URxvt.font.bold: xft:JetBrainsMono Nerd Font:bold:size=11
URxvt.font.italic: xft:JetBrainsMono Nerd Font:italic:size=11
!URxvt*letterSpace: -1
!URxvt.letterSpace: 0
!URxvt.lineSpace: 0
URxvt.geometry: 133x45
URxvt*internalBorder: 4
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt*depth: 32
URxvt.iso14755: false
URxvt.iso14755_52: false
!URxvt.termName: rxvt-unicode-256color
URxvt.termName: rxvt-256color

! macros for clipboard and selection
!URxvt.copyCommand:      xclip -i -selection clipboard
!URxvt.pasteCommand:     xclip -o -selection clipboard
!URxvt.keysym.Shift-Control-C:       perl:clipboard:copy
!URxvt.keysym.Shift-Control-V:       perl:clipboard:paste
!URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
!URxvt.keysym.M-Escape:  perl:keyboard-select:activate
!URxvt.keysym.M-s:       perl:keyboard-select:search
!URxvt.keysym.M-u:       perl:url-select:select_next

! fullscreen - sudo pacman -S urxvt-fullscreen
!urxvt.keysym.F11:       perl:fullscreen:switch

! tabbed
!URxvt.tabbed.tabbar-fg: 4
!URxvt.tabbed.tabbar-bg: 16
!URxvt.tabbed.tab-fg:    15
!URxvt.tabbed.tab-bg:    4
!URxvt.buffered:         false

! +------+
! | Tabs |
! +------+
URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-X: perl:tabbedex:kill_tab

URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

! Design for tabs
! Tabbedex Ext
URxvt.tabbedex.no-tabbedex-keys:  yes
URxvt.tabbedex.new-button:        false
URXvt.tabbedex.reopen-on-close:   yes
URxvt.tabbedex.autohide:          yes
URxvt.tabbedex.tabbar-fg:         5
URxvt.tabbedex.tabbar-bg:         0
URxvt.tabbedex.tab-fg:            10
URxvt.tabbedex.tab-bg:            0
URxvt.tabbedex.bell-fg:           0
URxvt.tabbedex.bell-bg:           0
URxvt.tabbedex.bell-tab-fg:       0
URxvt.tabbedex.bell-tab-bg:       0
URxvt.tabbedex.title-fg:          14
URxvt.tabbedex.title-bg:          0

URxvt*tabbedex.title: true
URxvt*tabbedex.transparent:true

xmonad.background: #282A36
xmonad.font: xft:Inconsolata Nerd Font Mono:weight=regular:pixelsize=13:antialias=true:hinting=true
xmonad.font.gtk: xft:Inconsolata Nerd Font Mono:regular:size=11
xmonad.font.big: xft:JetBrainsMono Nerd Font:regular:size=13
xmonad.font.bold: xft:JetBrainsMono Nerd Font:bold:size=11
xmonad.font.italic: xft:JetBrainsMono Nerd Font:italic:size=11


!*.background: #1E2127
!*.foreground: #ABB2BF

*.color0: base00
*.color1: base01
*.color2: base02
*.color3: base03
*.color4: base04
*.color5: base05
*.color6: base06
*.color7: base07

*.color8: base08
*.color9: base09
*.color10: base10
*.color11: base11
*.color12: base12
*.color13: base13
*.color14: base14
*.color15: base15
*.color16: base16
*.color17: base17
*.color18: base18

!dmenu.background: base00
!dmenu.foreground: base15
!dmenu.selbackground: base04
!dmenu.selforeground: base00
dmenu.selhlforeground: base00
dmenu.selhlbackground: base12

dwm.selbgcolor: base04
dwm.selfgcolor: base00
dwm.selbordercolor: base02

dwm.normfgcolor: base15
dwm.normbgcolor: bg1
dwm.normbordercolor: base00

dwm.tagsselfgcolor: bg1
dwm.tagsselbgcolor: base04

dwm.tagsnormfgcolor: base15
dwm.tagsnormbgcolor: bg1

dwm.titlenormfgcolor: base15
dwm.titlenormbgcolor: base00

dwm.titleselfgcolor: base02
dwm.titleselbgcolor: bg2

dwm.font: xft:JetBrainsMono Nerd Font:weight=regular:pixelsize=12:antialias=true:hinting=true



! ------------------------------------------------------------------------------
! xterm standard arcolinux theme
! ------------------------------------------------------------------------------

xterm*faceName: xft:JetBrainsMono Nerd Font
xterm*faceSize: 11
xterm*loginShell: true
xterm*vt100*geometry: 100x30
xterm*saveLines: 50000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false
xterm*foreground: base15
xterm*background: #1D2021
xterm*color0: base00
xterm*color1: base01
xterm*color2: base02
xterm*color3: base03
xterm*color4: base04
xterm*color5: base05
xterm*color6: base06
xterm*color7: base07
xterm*color8: base08
xterm*color9: base09
xterm*color10: base10
xterm*color11: base11
xterm*color12: base12
xterm*color13: base13
xterm*color14: base14
xterm*color15: base15
!xterm*color0: rgb:3f/3f/3f
!xterm*color1: rgb:cc/00/00
!xterm*color2: rgb:4e/9a/06
!xterm*color3: rgb:c4/a0/00
!xterm*color4: rgb:34/65/a4
!xterm*color5: rgb:ad/6a/b8
!xterm*color6: rgb:06/98/9a
!xterm*color7: rgb:dc/dc/cc
!xterm*color8: rgb:54/54/54
!xterm*color9: rgb:fc/54/54
!xterm*color10: rgb:8a/e2/34
!xterm*color11: rgb:fc/e9/4f
!xterm*color12: rgb:94/bf/f3
!xterm*color13: rgb:dc/95/e8
!xterm*color14: rgb:93/e0/e3
!xterm*color15: rgb:ff/ff/ff
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:ff/ff/ff

xft.dpi: 96
xft.antialias: true
xft.hinting: true
xft.rgba: rgb
xft.autohint: true
xft.hintstyle: hintfull
xft.lcdfilter: lcdfilter

xTerm*renderFont: true
xTerm*utf8: 2
xTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()



