[mgr]
prepend_keymap = [
  # Linemode
  { on = [ "m", "s" ], run = "linemode size",        desc = "Set linemode to size" },
  { on = [ "m", "p" ], run = "linemode permissions", desc = "Set linemode to permissions" },
  { on = [ "m", "m" ], run = "linemode mtime",       desc = "Set linemode to mtime" },
  { on = [ "m", "n" ], run = "linemode none",        desc = "Set linemode to none" },
  # { on = [ "m", "c" ], run = "linemode custom",      desc = "Set linemode to custom" },
  { on = [ "m", "f" ], run = "linemode file_info",   desc = "Set linemode to file_info" },

  # {on   = [ "f" ],     run = "plugin jump-to-char", desc = "Jump to char" },

  { on   = [ "l" ],    run  = "plugin --sync smart-enter", desc = "Enter the child directory, or open the file" },

  { on   = [ "c", "m" ], run  = "plugin chmod", desc = "Chmod on selected files"},
  { on   = "T",        run  = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane"},

  { on = "d",          run = "yank --cut",                  desc = "Yank selected files (cut)" },
  { on = "-",          run = "link",                        desc = "Symlink the absolute path of yanked files" },
  { on = "_",          run = "link --relative",             desc = "Symlink the relative path of yanked files" },

  { on   = [ "e","g" ],  run  = "plugin fg",         desc = "find file by content (fuzzy match)" },
  { on   = [ "e","G" ],  run  = "plugin fg -- rg",   desc = "find file by content (ripgrep match)" },
  { on   = [ "e","f" ],  run  = "plugin fg -- fzf",  desc = "find file by filename" },

  { on   = "t",          run  = "plugin smart-tab",  desc = "Create a tab and enter the hovered directory"},

  { on = "Q",     run = "quit",               desc = "Quit the process" },
  { on = "q",     run = "quit --no-cwd-file", desc = "Quit without outputting cwd-file" },

  { on = ["M","s"], run = "plugin sshfs -- menu",            desc = "Open SSHFS options" },
]

